.configBoard {
    display: flex;
    margin: 24px;
}

.control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control button {
    padding: 12px;
    margin-top: 250%;
    border-radius: 50%;
}
